


<html>

    <head>
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">


        <title>Algae classifier  </title>

        <meta name="theme-color" content="#ffffff">
    </head>

<body>

    <div class="very_main">

        <header>
            <div class="top_frame">
                <h1>Algae classifier for the central coast of Chile</h1>

            </div>
        </header>

        {% extends "base.html" %} {% block content %}

        <h2>Implemented in Keras and Tensorflow</h2>


<pre>

     This app is designed
     for those people who
     they like to walk through the 
     intertidal rocky and the coast 
     in general. Therefore, 
     this model was trained
     with images of stranded algae
     on the beach, and others who 
     live naturaly on rocks.
     For images taken in
     laboratory circumstances
     or other situation, the model
     could present a greater
     percentage of error to classify.

</pre>

        <p class="description">
            Select the image and press Predict to Classify the Algae.
        </p>

        <div>
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <label for="imageUpload" class="upload-label">
                    Select your image
                </label>
                <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
            </form>

            <div class="image-section" style="display:none;">
                <div class="img-preview">
                    <div id="imagePreview">
                    </div>
                </div>
                <div>
                    <button type="button" class="upload-label" id="btn-predict">Predict!</button>
                </div>
            </div>

            <div class="loader" style="display:none;"></div>

            <h3 id="result">
                <span> </span>
            </h3>

        </div>

        <p class="final_word">
            prepared by <a href="https://www.linkedin.com/in/f%C3%A9lixgarciash/" target="_blank">Félix Garcias (click for Linkedin)</a>.</br>
            E-mail: f.garcias@uc.cl</br>
            <i>Chile</i>, 2021
        </p>

    </div>

    {% endblock %}

</body>

</html>